.banner {
  background: transparent asset-data-url('home-img.png') 0 0 no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 350px;

  h1 {
    border-bottom: 1px solid white;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 118px;

    img { height: 50px; margin-bottom: -10px; }
  }
  h2 {
    margin-top: -25px;
  }
  h1, h2 {
    width: 320px;
    margin-left: 500px;
    color: white;
    text-align: right;
  }
}

.feature {
  @include span-columns(6);
  @include omega(2n);
}
