#shows {
  .page-banner { background-image: asset-data-url('show-img.png'); }

  .grid-show {
    @include span-columns(4);
    @include omega(3n);

    .poster img { width: 100%; }
  }

  .show-title {
    display: block;
    text-align: center;
    margin-top: -40px;
    height: 40px;
  }
  .add-show-form {
    margin-bottom: 40px;
    background-color: #f3f4f4;
  }
  .rss { font-size: 1em; float: right; margin-left: 5px; }

  .filter { padding-top: 20px; padding-left: 20px; }
}
