<div class="banner">
  <div class="container">
    <h1>
      <%= image_tag 'icon-video-cam.svg' %>
      Find media
    </h1>
    <h2>...all in one place</h2>
  </div>
</div>

<div class="container">
    <div class="feature aggregate">
      <h2><i class="icon-globe"></i>Aggregate</h2>
      <p>
        Collect and share links for media from all over the web. Nothing is stored in Mediafunnel, it leverages the infrastructure already in place elsewhere.
      </p>
    </div>

    <div class="feature filter">
      <h2><i class="icon-filter"></i>Filter</h2>
      <p>
        Specify your preferences of quality, source and more and we'll automatically filter out the links that don't match.
      </p>
    </div>

    <div class="feature subscribe">
      <h2><i class="icon-rss"></i>Subscribe</h2>
      <p>
        Are you tired of constantly checking sites for content? So are we! Simply set up some subscriptions and hook up to your personalized RSS feed to leave yet another repetitive task to a computer somewhere.
      </p>
    </div>

    <div class="feature guest-access">
      <h2><i class="icon-group"></i>Guest Access</h2>
      <p>
        Don't want another login to remember? No problem. Just add some subscriptions and use the RSS feed provided. As long as you keep checking the feed we will keep your settings without you having to sign up.
      </p>
    </div>
</div> <!-- end application-content -->
